body {
    background-color: blanchedalmond;
    font-size: 18px;
}

main, section, figure, blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title, #tribute-title > p {
    margin: 0
}

img {
    max-width: 100%;
    max-height: 500px;
}

h2 {
    margin-bottom: 10px;
}

ol {
    list-style: none;
}

ul li::marker {
    content: "• ";
    color: black;
}

li:not(last-child) {
    margin-bottom: 5px;
}

ol ul :first-child {
    margin-top: 5px;
}

blockquote {
    margin: 0 100px 20px 100px;
}

blockquote > p {
    font-size: 1.25em;
}

cite {
    display: block;
    font-style: normal;
}

figcaption {
    margin-top: 4px;
}

#tribute-comic {
    margin-top: 10px;
}
